<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>tymeleaf practice</h1>
	<hr>
	<p th:text="|1.파라메터: ${myname}|"  />
   <p th:text="|2.세션아이디: ${myname2}|"  />
   <p th:text="|3.날짜: ${now}|"  />
   <p th:text="|4.날짜format: ${#dates.format(now,'yyyy-MM-dd hh:mm:ss')}|"/>
   <p th:text="|5.숫자: ${price}|"  />
   <p th:text="|6.숫자(정수): ${#numbers.formatInteger(price,3,'COMMA')}|"  />
   <p th:text="|7.숫자(정수,소수): ${#numbers.formatDecimal(price,20,3,'POINT')}|"  />
   <p th:text="|8.문자: ${title}|"  />
   <p th:text="|9.문자: ${#strings.replace(title,'s','<b>S</b>')}|"  />
   <p th:utext="|10.문자: ${#strings.replace(title,'s','<b>S</b>')}|"  />
   <p th:text="|11.문자: ${#strings.toUpperCase(title)}|"  />
   <ul>
     <li th:each="item:${#strings.listSplit(title,' ')}">단어:[[${item}]]</li>
   </ul>
   <ul>
     <li th:each="item:${options}">항목:[[${item}]]</li>
   </ul>
   <hr>
   <h1>path practice</h1>
   <ul>
   	<li><a href="http://localhost:7777/freeboard/list">freeBoard 가기</a></li>
   	<li><a th:href="@{http://localhost:7777/freeboard/list}">freeBoard 가기</a></li>
   	<li><a th:href="@{freeboard/list}">freeBoard 가기(상대)</a></li>
   	<li><a th:href="@{/freeboard/list}">freeBoard 가기(절대)</a></li>
   	<li><a th:href="@{/freeboard/list(myname=jyenoi)}">freeBoard 가기(param)</a></li>
   	<li><a th:href="@{~/app2//freeboard/list}">freeBoard 가기(contextpath가 다른경우)</a></li>
   </ul>
   
   
   <script th:inline="javascript">
      /* 자바스크립트주석 */
      //자바스크립트 주석
      var arr = /*[[${options}]]*/[];
      var arr2 = eval('[[${options}]]');
      var str = "a=10;b=20;c=a+b;console.log(c)";
      console.log(arr);
      console.log(arr2);
      eval(str);
   </script>
</body>
</html>